/* For mobile phones: */

* {
    word-break: break-word;
}

body {
    background-color: wheat;
    overflow-x: hidden;
}

#header {
    z-index: 2;
    position: fixed;
    -webkit-backface-visibility: hidden;
    top: 0;
    right: 0;
    left:0;
}

.topnav {
    overflow: hidden;
    padding: .5em;
    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    float:left;
    color: Tomato;
    text-align: center;
    margin-left: .5em;
    text-decoration: none;
    font-weight: bolder;
}

/* Add an active class to highlight the current page */
.topnav .active, .topnav a:hover {
    color: Crimson;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

#pic-frm {
    vertical-align: middle;
    text-align: center;
    float: left;
    width: 60vmin;
    height: 60vmin;
    background-clip: content-box;
    margin-right: 1em;
}

#pic {
    width: 60vmin;
    clip-path: circle(30vmin at 30vmin 30vmin);
}

h1 span {
    color: Crimson;
}

#info {
    text-align: left;
    background: Crimson;
    margin-left: 30vmin;
    color: white;
    padding: .5em;
}

#perso {
    position: absolute;
    width: 100%;
    text-align: center;
}

#exp {
    position: absolute;
    left:110%;
    width:100%;
}

#educ {
    position: absolute;
    width:100%;
    left:220%;
}

#pub {
    position:absolute;
    width: 100%;
    left:330%;
}

#skills {
    position:absolute;
    width: 100%;
    left:440%;
}


#bio {
    clear: both;
    width: 100%;
    padding: .5em;
    margin: auto;
    text-align: left;
}

#fullname {
    width:100%;
    font-size: 2em;
}

#name, #family, #title {
    text-transform: capitalize;
    text-shadow: 1px 1px white;
    font-weight: bold;
    color: Crimson;
}

#title {
    width:100%;
    text-transform:uppercase;
    margin: 10px;
}

#pub table {
    width: 100%;
    text-align: left;
}

#pub tr:nth-child(odd) {
    background: white;
}

#cont :not(#skill) .elem {
    width: calc( 100% - 20px);
}

#cont #skill .elem,  #cont #lang .elem {
    width: initial;
    clear: left;
}

#cont .elem {
    display: inline-block;
    margin: .5em;
    width: calc( 100% - 20px);
    box-sizing: border-box;
    padding: 5px;
}


#birth, #mail, #tel, #web, #address {
    margin: 3px 0 0 10px;
}

#info > .icons .elem::before {
    display:inline-block;
    height: 1em;
    width: 1em;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    filter: brightness(0) invert(1);
}

#birth::before{
    background-image: url("../img/violet/birth.png");
}

#mail::before{
    background-image: url("../img/violet/mail.png");
}

#tel::before{
    background-image: url("../img/violet/phone.png");
}

#web::before{
    background-image: url("../img/violet/web.png");
}

#address::before {
    background-image: url("../img/violet/home.png");
}

#wrapper, #cont {
    padding: 0;
    display: block;
    width: 100%;
}

#wrapper {
    overflow-x: hidden;
    width:100%;
    position: fixed;
    top:3em;
    left:0;
    right:0;
    bottom:4.5em;
}

#social {
    position: fixed;
    left:0;
    right:0;
    bottom: 2em;
    text-align: center;
    background-color: Crimson;
}

a {color: blue;}

#scontent a {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0.25em;
    background-size: contain;
    border: 0;
    filter: brightness(0) invert(1);
}

#scontent a:hover {
    transform:scale(0.8,0.8);
    transition: transform 0.2s ease;
}

#facebook {
    background-image: url("../img/violet/facebook.png");
}

#twitter {
    background-image: url("../img/violet/twitter.png");
}

#linkedin {
    background-image: url("../img/violet/linkedin.png");
}

#gplus {
    background-image: url("../img/violet/gplus.png");
}


.barc {
    display: inline-block;
    width: 10em;
    background-color: white;
    height: 1.25em;
    border-radius: 5px;
    text-align: left;
}

.bar-l, .bar-h {
    display: inline-block;
    background-color: Crimson;
    height: 100%;
    border-radius: 4px;
}

.bar-v {
    display: inline-block;
    background-color: initial;
    height: 100%;
    font-weight: bold;
    font-style: italic;
    font-size: 0.8em;
    padding-left: 1em;

}

.elem hr {
    background-color: Crimson;
    border: 0 none;
    height: 2px;
    width: 10em;
    margin-left: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    height: 1.5em;
    padding-top: .5em;
    text-align: center;
    background-color: Crimson;
    color: white;
    font-weight: bolder;
}

#footer a, #info a {color: white;}

.elem .name {
    color: Crimson;
}

#skill .name, #lang .name {
    color: Crimson;
    font-weight: bold;
}


.date, .org {
    font-style: italic;
    font-weight: bold;
}

.desc {
    font-size: .8em;
    font-style: italic;
}

#educ .field, .org {
    font-style: italic;
    margin-left: 1em;
}

@media screen and (max-width: 768px) {

    #info {
        margin-left: initial;
    }

    #fullname {
        clear: both;
    }

    #pic-frm {
        width: 100%;
    }

    #header {
        left:initial;
    }

    .topnav a{
        display: none;
    }

    .topnav a.icon {
        position: absolute;
        top: 0;
        right:0;
        width: 2em;
        display: block;
        font-size: 1.5em;
        background-color: Crimson;
        color: white;
        padding: 0.25em;
    }

    .topnav.responsive a:not(.icon) {
        float:none;
        padding: 0.5em;
        display: block;
        text-align: left;
        background-color: white;
    }

    .topnav.responsive a:first-child::before {
        float:none;
        padding: 0.5em;
        height: 1.5em;
        display: block;
        text-align: left;
        content: "";
    }


}
