body {
}

#header {
  width:100%;
  min-height: 10em;
  background-color: blue;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  /*overflow: hidden;*/
}

/*#header::after{
   clear: both;
}*/


@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    #header {
      z-index: 1;
      position:absolute;
    }
    #wrapper {
      position: relative;
    }

}

#name, #family {
  text-transform: capitalize;
  text-shadow: 1px 1px #ff0;
  font-weight: bold;
  float: left;
  margin-left: .5em;
}

#birthday {
  display: block;
  width: 100%;
  border-style: solid;
  border-width: 5px;
}

#fullname:after {
}

#photo {
  height: 9em;
  float: left;
  margin: .5em;
}

#info {
  float: left;
  background-color: yellow;
}

#fullname {
  position: relative;
  margin: .5em;
  display: block;
  /*overflow: hidden;*/
  /*float: left;*/
}

/*this is used to position the content after the header*/
#wrapper{
  position: fixed;
  top: 10em;
  left:0;
  width: 100%;
}

#content {
  overflow-y:scroll;
  overflow-x:hidden;
  width: 100%;
}

#bio {
  float: right;
}

#exp {
}

.exp_element {
  display: inline-block;
  margin: .5em .5em .5em .5em;
  background-color: red;
}

#educ {
}

.educ_element {
  display: inline-block;
  background-color: blue;
  margin: .5em .5em .5em .5em;
}

#pub {
}

.pub_element {
  display: inline-block;
  background-color: yellow;
  margin: .5em .5em .5em .5em;
}
