body {
  background-color: red;
}

#header {
  width:100%;
  min-height: 10em;
  background-color: blue;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    #header {
      z-index: 1;
      position:absolute;
    }
    #wrapper {
      position: relative;
    }

}

#wrapper {
  position: absolute;
  top: 10em;
  right: 0;
}

#name, #family {
  text-transform: capitalize;
  text-shadow: 1px 1px #ff0;
  font-weight: bold;
  float: left;
  margin-left: .5em;
}

#birthday {
  display: block;
  width: 100%;
  border-style: solid;
  border-width: 5px;
}

#fullname:after {
  /*
  content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;*/
}

#photo {
  height: 9em;
  float: left;
  margin: .5em;
}

#info {
  float: left;
  background-color: yellow;
}

#fullname {
  position: relative;
  margin: .5em;
  display: block;
  overflow: hidden;
  /*float: left;*/
}

#content {
  text-align: left;
}

#bio {
  float: right;
}
