/*************************************************************/
.kfs, #bio, #pub .elem, #educ .elem, #exp .elem {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

/************************************************************/

* {
    box-sizing:border-box;
    color: white;
    background-color: black;
    word-break: break-word;
}

.content {
    position: fixed;
    display: block;
    margin: 0;
}

/* Slideshow container */
.wrapper {
    max-width: 100%;
    position: relative;
    height: 80%;
}

.clear-footer {
    background-color: yellow;
    height: 3em;
    clear: both;
}

/* Hide the images by default */
.frame {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 4em;
    overflow-y: auto;
}

.first {
    display: block;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position:fixed;
    bottom: 1.25em;
    width: auto;
    padding: 0.5em;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    font-size: 2em;
    transition: 0.6s ease;
    border-radius: 0 0.25em 0.25em 0;
    z-index: 2;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0.25em 0 0 0.25em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: white;
    color: black;
}


/* The dots/bullets/indicators */
.dots {
    text-align:center;
    position: fixed;
    left:0;
    right:0;
    bottom: 2.25em;
}

.dot {
    cursor:pointer;
    height: 1em;
    width: 1em;
    margin: 0 2px;
    background-color: grey;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: white;
}

/* Fading animation */
.anim {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}


/* For mobile phones: */
#header {
    width: 100%;
}

#pic-frm {
    vertical-align: middle;
    text-align: center;
    margin: 5px;
}

#pic {
    height: 60hv;
    filter: grayscale(100%);
}


#bio {
    padding: 5px;
    clear: right;
    margin: 5px;
    box-sizing: border-box;
}

#fullname {
    position: relative;
    margin: 5px;
    font-size: 2em;
}

#name, #family, #title {
    text-transform: capitalize;
    text-shadow: 1px 1px black;
    font-weight: bold;
    margin-left: 5px;
}

#title {
    text-transform:uppercase;
    margin: 10px;
}

#skill, #lang {
    clear: both;
}

.set :not(#skill) .elem {
    width: calc( 100% - 20px);
}

.set .elem {
    display: inline-block;
    float: left;
    margin: .5em;
    width: calc( 100% - 20px);
    box-sizing: border-box;
    padding: 5px;
}

#birth, #mail, #tel, #web, #address {
    margin: 3px 0 0 10px;
}

.icons .elem::before {
    display:inline-block;
    height: 1em;
    width: 1em;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    filter: brightness(0) invert(1);
}
#birth::before{
    background-image: url("../img/violet/birth.png");
}

#mail::before{
    background-image: url("../img/violet/mail.png");
}

#tel::before{
    background-image: url("../img/violet/phone.png");
}

#web::before{
    background-image: url("../img/violet/web.png");
}

#address::before {
    background-image: url("../img/violet/home.png");
}

#wrapper {
    padding: 0;
    width: 100%;
    display: block;
}

#social {
    margin: 10px;
    text-align: left;
}

.icons {
    clear: both;
}

#scontent a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 0;
    background-size: contain;
    background-color: rgba(0,0,0,0);
    filter: brightness(0) invert(1);
}

#scontent a:hover {
    transform: rotate(360deg);
    transition: transform 0.2s ease;
}

#facebook {
    background-image: url("../img/violet/facebook.png");
}

#twitter {
    background-image: url("../img/violet/twitter.png");
}

#linkedin {
    background-image: url("../img/violet/linkedin.png");
}

#gplus {
    background-image: url("../img/violet/gplus.png");
}

.barc {
    display: inline-block;
    width: 10em;
    background-color: grey;
    height: 1em;
}

.bar-l, .bar-h {
    display: inline-block;
    background-color: white;
    height: 100%;
}

#footer {
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
    height: 2em;
    border: 0.25em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.25em;
    background-color: white;
    color: black;
    font-weight: bolder;
}

#footer a {
    color: blue;
    background-color: white;
}

.elem .name {
    font-weight: bold;
}

.date, .org {
    font-style: italic;
    font-weight: bold;
}

#pub tr:nth-child(odd) {
    background: violet;
}

.desc {
    font-size: .8em;
    font-style: italic;
}

#educ .field, .org {
    font-style: italic;
    margin-left: 1em;
}

@media only screen and (min-width: 768px) {

    .icons {
        clear: none;
    }

    #pic-frm {
        float: right;
    }

    .set :not(#skill):not(#lang) .elem {
        width: 46%;
        width: calc(50% - 1.5em);
    }

    #skill .elem,  #lang .elem {
        width: initial;
    }


}
