/*************************************************************/
.kfs, #bio, #pub .elem, #educ .elem, #exp .elem, #footer {
    border-radius: 5px;
    border: 2px solid DarkViolet;
}

.kfs, #lang, #skill {
    padding: 2px;
    margin: 1.25em .25em .25em .25em;
}

* {
    word-break: break-word;
    box-sizing:border-box;
}
/************************************************************/

.content {
    position: fixed;
    display: block;
    margin: 0;
}

/* Slideshow container */
.wrapper {

}

/* Hide the images by default */
.frame {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 4em;
    background-color: #FFFFDD;
    overflow-y: auto;
}

.first {
    display: block;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: DarkViolet;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dots {
    position:fixed;
    left:0;
    right:0;
    bottom: 2.25em;
    text-align:center;
}

.dot {
    cursor:pointer;
    height: 1em;
    width: 1em;
    margin: 0 2px;
    background-color: thistle;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: DarkViolet;
}

/* Fading animation */
.anim {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}

#header {
    width: 100%;
}

#pic-frm {
    float: left;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
}

#pic {
    width: 7.5em;
    height: 11em;
}


#bio {
    padding: 5px;
    clear: right;
    margin: 5px;
    box-sizing: border-box;
}

#fullname {
    position: relative;
    margin: 5px;
    text-align: center;
}

#name, #family, #title {
    text-transform: capitalize;
    text-shadow: 1px 1px black;
    font-weight: bold;
    color: DarkViolet;
    margin-left: 5px;
}

#title {
    text-transform:uppercase;
    margin: 10px;
    text-align: center;
}

#skill, #lang {
    clear: both;
}

.set :not(#skill) .elem {
    width: calc( 100% - 20px);
}

.set .elem {
    display: inline-block;
    float: left;
    margin: .5em;
    width: calc( 100% - 20px);
    box-sizing: border-box;
    padding: 5px;
}

#birth, #mail, #tel, #web, #address {
    margin: 3px 0 0 10px;
}

.icons .elem::before {
    display:inline-block;
    height: 1em;
    width: 1em;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

#birth::before{
    background-image: url("../img/violet/birth.png");
}

#mail::before{
    background-image: url("../img/violet/mail.png");
}

#tel::before{
    background-image: url("../img/violet/phone.png");
}

#web::before{
    background-image: url("../img/violet/web.png");
}

#address::before {
    background-image: url("../img/violet/home.png");
}

#wrapper {
    padding: 0;
    width: 100%;
    display: block;
}

#social {
    margin: 10px;
    text-align: center;
}

.icons {
    clear: both;
}

#scontent a {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 5px;
    border: 0;
}

#scontent a:hover {
    transform: rotate(180deg) scale(0.7, 0.7);
    transition: transform 0.2s ease;
}

#facebook {
    background-image: url("../img/violet/facebook.png");
}

#twitter {
    background-image: url("../img/violet/twitter.png");
}

#linkedin {
    background-image: url("../img/violet/linkedin.png");
}

#gplus {
    background-image: url("../img/violet/gplus.png");
}

.barc {
    display: inline-block;
    width: 10em;
    background-color: grey;
    height: 1.25em;
}

.bar-l, .bar-h {
    display: inline-block;
    background-color: DarkViolet;
    height: 100%;
}

.bar-v {
    display: inline-block;
    color: white;
    font-weight: bold;
    background-color:initial;
    text-align:center;
}

#footer {
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    height: 2em;
    padding-top: .5em;
    text-align: center;
    background-color: DarkViolet;
    color: white;
    font-weight: bolder;
}

#footer a {
    color: yellow;
}

.elem .name {
    font-weight: bold;
    color: DarkViolet;
}

.date, .org {
    font-style: italic;
    font-weight: bold;
}

#pub tr:nth-child(odd) {
    background: violet;
}

.desc {
    font-size: .8em;
    font-style: italic;
}

#educ .field, .org {
    font-style: italic;
    margin-left: 1em;
}

@media only screen and (min-width: 768px) {

    /* Icons animations just for PC */
    #scontent a {
        transition: all 0.2s ease;
    }

    #scontent a:hover {
        transform: rotate(180deg) scale(0.7, 0.7);
        transition: transform 0.2s ease;
    }

    #fullname {
        font-size: 1.5em;
    }

    .icons {
        clear: none;
    }

    .set :not(#skill):not(#lang) .elem {
        width: 46%;
        width: calc(50% - 1.5em);
    }

    #skill .elem,  #lang .elem {
        width: initial;
    }


}
