/*************************************************************/
.kfs, #header, #info, #bio, .elem {
  border-radius: 5px;
  border: 2px solid DarkViolet;
}

.kfs {
  padding: 2px;
  margin: 1.25em .25em .25em .25em;
}

.kfs > h1 {
  font: 1em normal;
  color: DarkViolet;
  margin: -1.25em -0.5em 0;
}

.kfs > h1:after {
  content: ' ';
  display: block;
  height: .5em;
  overflow: hidden;
  position: relative;
  top: .5em;
}

.kfs > h1:before {
  content: ' ';
  display: block;
  height: .5em;
  overflow: hidden;
  position: relative;
  bottom: .5em;
}

.kfs > h1 > span{
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px DarkViolet;
  margin-left: 1em;
  background-color: white;
}

.wrap {
  word-wrap: break-word;
  word-break: break-all;
}
/************************************************************/

/* For mobile phones: */
#header {
  width: 100%;
}

#birth {
  width: 100%;
  margin: 10px;
}

#pic-frm {
  float: left;
  vertical-align: middle;
  text-align: center;
  margin: 5px;
}

#pic {
  width: 7.5em;
  height: 11em;
}

#info {
  width: 55%;
  width: calc(100% - 7.5em - 25px);
  float: right;
  margin: 5px;
  box-sizing: border-box;
}


#bio {
  padding: 5px;
  clear: right;
  margin: 5px;
  box-sizing: border-box;
}

#fullname {
  position: relative;
  margin: 5px;
}

#name, #family, #title {
  text-transform: capitalize;
  text-shadow: 1px 1px black;
  font-weight: bold;
  color: DarkViolet;
  margin-left: 5px;
}

#title {
  text-transform:uppercase;
  margin: 10px;
}

.elem {
  display: inline-block;
  margin: .5em;
  width: calc( 100% - 20px);
}

#mail, #tel, #web, #address {
  margin: 5px;
}

#mail .elem, #tel .elem {
  all: initial;
}

#mail .elem::before, #tel .elem::before {
  content: "[";
}

#mail .elem::after, #tel .elem::after {
  content: "]";
}

#wrapper, #cont {
  padding: 0;
  width: 100%;
  display: block;
}

@media only screen and (min-width: 768px) {

  #info, #bio {
    display:block;
    vertical-align: top;
    height: 11em;
  }

  #bio {
    float: right;
    width: 40%;
    width: calc(50% - 3.25em - 25px);
    overflow-y:scroll;
    overflow-x:hidden;
  }

  .elem {
    width: 46%;
    width: calc(50% - 1.5em);
  }

  #name, #family {
    float: left;
    margin-left: 5px;
  }

  #title {
    clear: both;
  }

  #info {
    width:40%;
    width: calc(50% - 3.25em - 25px);
    float: left;
  }

  #header {
    display:block;
    position: fixed;
    z-index: 2;
    top: 5px;
    left: 5px;
    width: 100%;
    width: calc(100% - 17px);
    height: 12em;
  }

  /*this is used to position the content after the header*/
  #wrapper{
    position: absolute;
    top: 13em;
    left:0;
    right: 0;
    bottom: 0;
    overflow-y:scroll;
    overflow-x:hidden;
  }

}
